@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #616161;
    border-radius: 5px;
    height: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777777;
}
.inputSearch {
    border: none;
    height: 21px;
    font-family: 'Roboto Condensed', sans-serif;
}
.inputSearch:focus {
    outline: none; /* Esto elimina el resaltado de enfoque en algunos navegadores */
    border: 0px solid transparent; /* Hacer el borde transparente */
}
.logo-sidebar {
    height: 30px;
    width: 30px;
}
.img-landing-1 {
    position: absolute;
    z-index: -10;
    left: -180px;
    top: 170px;
}
.img-landing-2 {
    position: absolute;
    z-index: -1;
    left: 220px;
    bottom: 0px;
}
.img-landing-3 {
    position: absolute;
    z-index: -1;
    left: 380px;
    top: -40px;
}

.img-food-1 {
    height: 440px;
    width: 440px;
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
    bottom: 30px;
    right: 8%;
}

@media (max-width: 1090px) {
    .img-food-1 {
        height: 800px;
        width: 700px;
        border-radius: 30px;
        object-fit: cover;
        position: absolute;
        bottom: 100px;
        right: 2%;
    }
}
@media (max-width: 820px) {
    .img-food-1 {
        height: 730px;
        width: 600px;
        border-radius: 30px;
        object-fit: cover;
        position: absolute;
        bottom: 40px;
        right: 2%;
    }
}
@media (max-width: 780px) {
    .img-food-1 {
        height: 600px;
        width: 520px;
        border-radius: 30px;
        object-fit: cover;
        position: absolute;
        bottom: 40px;
        right: 2%;
    }
}

@media (max-width: 650px) {
    .logo-sidebar {
        height: 30px;
        width: 30px;
    }
    .img-landing-2 {
        display: none;
    }
    .img-landing-1 {
        position: absolute;
        z-index: -10;
        left: 0px;
        top: 120px;
    }
    .img-landing-3 {
        display: none;
    }
    .img-food-1 {
        height: 320px;
        width: 280px;
        border-radius: 20px;
        object-fit: cover;
        position: absolute;
        bottom: 20px;
        right: 3%;
    }
}
